<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
        ** For use with servlet v2.5 replace the lines above with these
        version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    -->

    <display-name>LibrAE: Administración y Configuración</display-name>
    <distributable />

    <!-- Avoid the Built-in JSF Implementation in JBoss -->
    <context-param>
		<param-name>
			org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL
		</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Context Configuration locations for Spring XML files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			classpath:/spring/applicationContext-resources.xml
			classpath*:/spring/applicationContext-dao.xml
			classpath*:/spring/applicationContext-facade.xml
			classpath*:/spring/applicationContext-service.xml
			classpath:/spring/applicationContext-form.xml
			classpath*:/spring/applicationContext-delegate.xml
			classpath*:/spring/applicationContext.xml
			/WEB-INF/spring/applicationContext.xml
		</param-value>
    </context-param>

    <!-- EAR Context Param definition -->

    <!-- Todos los parámetros del tipo ${context-param-value} se definen en librae/pom.xml -->
    <context-param>
        <param-name>uploadMaxFileSize</param-name>
        <param-value>${upload.max.file.size}</param-value>
    </context-param>
    <context-param>
        <param-name>locatorFactorySelector</param-name>
        <param-value>classpath*:beanRefFactory.xml</param-value>
    </context-param>
    <context-param>
        <param-name>parentContextKey</param-name>
        <param-value>ear.context</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
        <param-value>${org.ajax4jsf.VIEW_HANDLERS}</param-value>
    </context-param>
    <context-param>
	    <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
	    <param-value>${org.ajax4jsf.handleViewExpiredOnClient}</param-value>
	</context-param>
	<context-param>
    	<param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
    	<param-value>${org.apache.myfaces.ERROR_HANDLING}</param-value>
	</context-param>
    <context-param>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>${org.apache.myfaces.PRETTY_HTML}</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
        <param-value>${org.apache.myfaces.COMPRESS_STATE_IN_SESSION}</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>${javax.faces.DEFAULT_SUFFIX}</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>${javax.faces.STATE_SAVING_METHOD}</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
        <param-value>${org.apache.myfaces.SERIALIZE_STATE_IN_SESSION}</param-value>
     </context-param>
     <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>${facelets.DEVELOPMENT}</param-value>
    </context-param>
    <context-param>
		<param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
		<param-value>1000</param-value>
	</context-param>

    <context-param>
        <param-name>facelets.LIBRARIES</param-name>
        <param-value>
			/WEB-INF/taglibs/acegijsf.taglib.xml;
			/WEB-INF/taglibs/corejsf-validator.taglib.xml;
			/WEB-INF/taglibs/tomahawk.taglib.xml;
			/WEB-INF/taglibs/sandbox.taglib.xml;
			/WEB-INF/taglibs/librae.taglib.xml
		</param-value>
    </context-param>

    <filter>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>

    <filter>
        <filter-name>cacheFilter</filter-name>
		<filter-class>
			com.opensymphony.oscache.web.filter.CacheFilter
		</filter-class>
    </filter>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>extensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
        <init-param>
            <param-name>maxFileSize</param-name>
            <param-value>2m</param-value>
        </init-param>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>2m</param-value>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
        </init-param>
    </filter>
    <!--
        filter> <filter-name>gzipFilter</filter-name>
        <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
        </filter
    -->
    <filter>
        <filter-name>lazyLoadingFilter</filter-name>
        <filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
    </filter>
    <!--
        Use
        "org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter"
        if you're using JPA
    -->

	<filter>
	 	<filter-name>filterChainProxy</filter-name>
	  	<filter-class>
	  		org.springframework.web.filter.DelegatingFilterProxy
	 	</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <servlet-name>faces</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <!-- filter-name>richfaces</filter-name -->
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>faces</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>lazyLoadingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping -->

    <filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/index.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/j_spring_cas_security_check</url-pattern>
    </filter-mapping>
    <filter-mapping>
       	<filter-name>filterChainProxy</filter-name>
        <url-pattern>/blankPermisos.html</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
    </listener>
    <listener>
        <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
    </listener>
    <listener>
        <listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
    </listener>
    <listener>
        <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
    </listener>


    <listener>
        <listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
    </listener>

    <!-- SERVLET PARA LA GESTION DE PETICIONES A LOS SPRING WEB SERVICES -->

    <!--

    <servlet>
        <servlet-name>spring-ws</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    -->

    <!-- FIN SERVLET PARA LA GESTION DE PETICIONES A LOS SPRING WEB SERVICES -->

    <servlet>
        <servlet-name>faces</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>faces</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet>
	    <servlet-name>Primefaces Resource Servlet</servlet-name>
	    <servlet-class>org.primefaces.ui.resource.ResourceServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
	    <servlet-name>Primefaces Resource Servlet</servlet-name>
	    <url-pattern>/primefaces_resources/*</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>imageDownloaderBibliotecaServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>imageDownloaderBibliotecaServlet</servlet-name>
        <url-pattern>/ImageBibliotecaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>imageDownloaderFicheroServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>imageDownloaderFicheroServlet</servlet-name>
        <url-pattern>/ImageFicheroServlet</url-pattern>
    </servlet-mapping>


	<!-- ${session.timeout} establecido en librae/pom.xml -->
    <session-config>
        <session-timeout>${session.timeout}</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>${page.bienvenida}</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/400.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <servlet>
        <servlet-name>bibliotecaExporter</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bibliotecaExporter</servlet-name>
        <url-pattern>/remoting/BibliotecaManager</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>comprimirFiltro</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>comprimirFiltro</filter-name>
	    <url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>comprimirFiltro</filter-name>
	    <url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>comprimirFiltro</filter-name>
	    <url-pattern>*.html</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
		<param-value>false</param-value>
	</context-param>
</web-app>
