@charset "utf-8";
.footer {color:#003366;float:left;text-align:center;background-color:#EEEEEE;border-bottom:14px solid #3D689B; border-bottom:3px solid #3D689B}
.header {background-color:#EEEEEE}
.content {background-color:#EEEEEE}
